[Unit]
Description=Whisper Loop Service
After=network.target

[Service]
Type=simple
User=mat
ExecStart=/home/mat/Documents/ProgramExperiments/fleetingNotes/whisper_loop.sh
Restart=always

[Install]
WantedBy=default.target
